# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
instance/
*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node/npm (if you add npm packages later)
node_modules/

# Misc
*.bak
*.swp